<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Un melange de trucs Vue.JS</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="css/cool.css">
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>

  <div id="hello">
    <h1>{{ greeting }}</h1>
    <img :src="img">
  </div>

  <div id="momgetthecamera">
    <button @click="show = !show">
      Clique !
    </button>
    <transition name="slide-fade">
      <p v-if="show"><img src="img/dino.jpg"> </p>
    </transition>
  </div>


  <div class="MAGIC8BALL" id="JeanKevin">
    <p class="pancakes"> La machine a inverser le texte </p>
    <p class="swagg"> Message : {{ message }} </p>
    <p class="swagg"> Ton message a l'envers xdptdr : {{ reversedMessage }} </p>
    <input v-model="message" placeholder="Ecris un truc !">
  </div>

  <div id="MAGIC8BALL">
    <h2 class="welcometoPonyland"><img class="magicalunicorn" src="img/rainbow.png"> Bienvenue sur la div de la licorne magique<img class="magicalunicorn" src="img/rainbowflip.png"> </h2>
    <div id="magique" v-bind:style="answerImg">
      <p>
        Pose une question a la licorne magique ! </p><br />
        <input class="AMA" v-model="question">
          <p> Jean Eudes la licorne dit : </p><p class="response"> {{ answer }}</p>
      </div>
    </div>

<script type="text/javascript" src="js/js.js"></script>

</body>
</html>
